.background {
    -fx-background-color: #0A0B0D;
}

.anchor-pane {
    -fx-background-color: #0A0B0D;
    -fx-border-color: transparent;
}

.split-pane {
    -fx-background-color: #0A0B0D;
    -fx-border-color: transparent;
}

.label {
    -fx-font-size: 12pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5 5 5 5;
    -fx-opacity: 0.7;
}

.label-opac {
    -fx-font-size: 14pt;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5 5 5 5;
    -fx-opacity: 0.7;
}

.label-header {
    -fx-font-size: 28pt;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 5 5 5 5;
    -fx-opacity: 1;
}

.label-h2 {
    -fx-font-size: 20pt;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-padding: 5 5 5 5;
    -fx-opacity: 0.8;
}

.label-error {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #AA4A44;
    -fx-padding: 5 5 5 5;
    -fx-opacity: 1;
}

.text-out{
    -fx-font-size: 11pt;
    -fx-font-family: "Helvetica";
    -fx-fill: #ffff33;
    -fx-font-weight: bold;
    -fx-padding: 5 5 5 5;
    -fx-opacity: 0.7;
}

.table-view {
    -fx-base: #0A0B0D;
    -fx-control-inner-background: #0A0B0D;
    -fx-background-color:#0A0B0D;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.list-view {
    -fx-base: #0A0B0D;
    -fx-control-inner-background: #0A0B0D;
    -fx-background-color: #0A0B0D;
    -fx-padding: 5;
    -fx-border-color: #4a4a4a;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-selection-bar: #3a3a3a; /* Color for non-focused selection */
    -fx-selection-bar-non-focused: #3a3a3a; /* Color for non-focused selection */
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 0 10 1 0;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-width: 0 0 1 0;
}

.list-view .list-cell .text {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.list-view .list-cell:filled:selected, .list-view .list-cell:filled:selected:hover {
    -fx-background-color: -fx-selection-bar;
}

.list-view:focused .list-cell:filled:selected, .list-view:focused .list-cell:filled:selected:hover {
    -fx-background-color: -fx-focus-color;
}

.list-view:non-focused .list-cell:filled:selected, .list-view:non-focused .list-cell:filled:selected:hover {
    -fx-background-color: -fx-selection-bar-non-focused;
}

.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 0 10 1 0;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-width: 0 0 1 0;
}

.list-view .list-cell .text, .list-view .placeholder {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}



.table-view {
    -fx-border-color: #4a4a4a;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}


.text-field, .password-field{
    -fx-font-size: 11pt;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-pref-height: 10;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-pref-height: 70px;
    -fx-pref-width: 180px;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}